.background{
    // background-color: rgb(251, 54, 64);
    background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(251,54,64,1) 8%);
    // background-image: url("../assets/task1bg.jfif");
    // background-image: url("../../assets/undraw_coming_home_52ir.svg");
    // opacity: 0.5;
    height: 140vh;
}
.trans-bg{
    background-color: transparent !important
}
.bg-pink{
    background-color: rgba(251,54,64,1);
}
.no-border{
    border-width: 0px;
    border-bottom: 2px solid white;
}
input:focus, select:focus{
    outline: none;
    box-shadow: none;
}
img{
    width: 100px;
    height: 90vh;
}
