.background{
    // background-color: rgb(251, 54, 64);
    background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(251,54,64,1) 8%);
    // background-image: url("../assets/task1bg.jfif");
    height: 100vh;
}
.no-border{
    border-width: 0px;
}