<div class="row background">
    <div class="col-md dispt text-white">
      <div class="ps-xxl-5 pe-xxl-5 dispc">
        <h1 class="ps-sm-5 ms-5 me-xl-5 typewriter">
           <span> WELCOME THERE ! </span>
        </h1>
        <div class="ps-sm-5 ms-5 me-xl-5">
          <p>
          if you want to apply for Home Loan, We can help you check if you are eligible.
          click on "Go To Form" and fill all the details, we will tell if you will be
          eligible for the loan. It is just this easy, go on fill the form.
        </p>
        </div>
        <div class="ps-sm-5 ms-5 me-xl-5 mt-3">
          <button (click)="form()" class="btn bg-dark text-white fw-bold">
            Go To Form
          </button>
        </div>
      </div>
    </div>
    <div class="col-md dispt">
      <div class="ps-xxl-5 pe-xxl-5 dispc">
        <h1 class="ps-sm-5 ms-5 me-xl-5 typewriter">
           <span> KNOW ABOUT US </span>
        </h1>
        <div class="ps-sm-5 ms-5 me-xl-5">
          We check your eligibility for a home loan. All you need to do is fill details
          like Gender, Marital Status, Education, Number of Dependents, Income,
          Loan Amount, Credit History, etc, and we tell you if you will get your home Loan 
          or not 
        </div>
        <div (click)="more()" class="ps-sm-5 ms-5 me-xl-5 mt-3">
          <button class="btn bg-white fw-bold">
            Know More
          </button>
        </div>
        <div *ngIf="know" class="mt-3 ps-sm-5 ms-5 me-xl-5 fw-bold">
          This Product has been created by UnderGrad Students of SRM University
          <ul>
          <li>Utkarsh Sinha</li>
          <li>Daksh Patel</li>
          <li>Hardik Garg</li>
          <li>Rudratej Singh Tanwar</li>
          <li>Shreyash Anchaliya</li>
          <li>Aditya Sinha</li>
          </ul>
        <div>

      </div>
    </div>
  </div>
