.background{
    // background-color: rgb(251, 54, 64);
    // background-image: url("../assets/task1bg.jfif");
    background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(251,54,64,1) 8%);
    height: 100vh;
}
.dispt{
    display:table
}
.dispc{
    display: table-cell;
    vertical-align: middle;
}
.bg-purple{
    background-color:royalblue;
}
.bg-green{
    background-color: rgba(18, 189, 81);
}
.text-red{
    color: red;
}
.fs-small{
    font-size: 10px;
}
.width{
    word-wrap: normal;
}
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    //   typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }